name: crawler build and push

on:
  pull_request:
    branches:
      - master
    types: [closed]
    paths:
      - components/crawler/**

permissions:
  contents: read
  pull-requests: write
  packages: write
  id-token: write

jobs:
  docker:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: configure GCP credentials
        uses: 'google-github-actions/auth@v1'
        id: auth
        with:
          token_format: 'access_token'
          workload_identity_provider: 'projects/489282523838/locations/global/workloadIdentityPools/github-actions/providers/github-actions-provider'
          service_account: 'github-actions@prism-prod-372103.iam.gserviceaccount.com'

      - name: Login to GCR
        uses: docker/login-action@v2
        with:
          registry: asia-northeast1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            asia-northeast1-docker.pkg.dev/prism-prod-372103/icc/crawler
          tags: |
            type=sha,enable=true,priority=100,prefix=,suffix=,format=short
            type=raw,value={{date 'YYYYMMDD-hhmmss'}}-{{sha}}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: components/crawlerDockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max